{% extends "Voicer/base.html" %}
{% load static %}
{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div style="padding-top: 10px">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  
      <div class="background-block">
          <h1 class="registrs">Вход</h1>

          <h4>Имя пользователя</h4>
          {{ form.username }}
          <h4>Пароль</h4>
          {{ form.password }}


          <div class="submitbtn">
              <input type="submit" class="btn btn-success button-reg" value="Войти" />
              <input type="hidden" class="btn btn-success button-reg" name="next" value="{{ next }}" />
          </div>
      </div>
  </form>
</div>

{% endblock %}