{% extends "Voicer/base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 15px;">
    <div class="password">
    <h1>Cмена пароля</h1>
    <form action="." method="post">
        <h2>Старый пароль</h2>
        {{ form.old_password }}
        <h2>Новый пароль</h2>
        {{ form.new_password1 }}
        <h2>Подтвердить пароль</h2>
        {{ form.new_password2}}
        <p><input class="btn btn-success button-reg" style="position: absolute; top: 469px; left: 867px;" value="Сменить пароль"></p>
        {% csrf_token %}
    </form>
    </div>
</div>    
{% endblock %}