
{% extends "Voicer/base.html" %}
{% load static % }
{{% block content %}
    <div class="registr">
        <h1 style="text-align: center; width: 765px;">Регестрация</h1>
        <form class="form-signup" action="" method="POST">
            {% csrf_token %}

            <label class="username">
                <h2>Username</h2> {{form.username}}
            </label>

            <label class="password">
                <h2>Пароль</h2> {{form.password1}}
            </label>
            <label class="password-verif">
                <h2>Подтвердить пароль</h2> {{form.password2}}
            </label>
            <div class="reg">
                <input type='submit' class="btn btn-success" name="Регестрация"></input>
            </div>
            
        </form>
    </div>

{% endblock content %}