/* Оставь надежды всех входящих */
/* Жопа дъявола (ну, ладно, =)) */
/* тут типо ауто не потому что ауто, а типо что-бы  width была красивой */
@media (max-width: 500px){
    .login {
        width: auto;
        height: 473px;
    }


    .registr {
        width: auto;
        height: 473px;
    }
}

    
/* для Iphone X */
