/* название колонок ("Выбрать аниме" и "Выбранное аниме") */
.name-chosse{
    background: #DFDCE4;
    border-radius: 10px;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 5px;
}




/* контент блоки */
.Box {
    width: 460px; 
    height: auto; 
    background-color: #ffffff; 
    border: 2px solid #D4D4D4; 
    border-radius: 10px; 
    box-shadow: 0 0 15px #A9A9A9; 
    padding: 20px;
}

.number{
    background: rgba(230, 229, 226, 0.53);
    border-radius: 50px;
    text-align: center;
    margin-left: 40%;
    width: 50px;
}