body {
    background: #EDEEF0;

}
.search{
    font-size: 20px;
}
.d-flex {
    width: 300px; 
    height: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.registr{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #F6F6F6;
    width: 591px;
    height: 473px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
.reg-main{
    padding-top: 20px;
}
.username{
    left: 0;
    right: 0;
    margin: 0 auto;

}
.password{
   
    left: 100px;
    right: 0;
    margin: 0 auto;
}
.password-verif{
    width: 765px;
    height: 90px;
    text-align: center;
    left: 10px;
    right: 10px;
    margin: 0 auto;
}
.reg{
    width: 765px;
    height: 60px;
    text-align: center;
    left: 100px;
    right: 0;
    margin: 0 19px auto;
}
.registrs {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    padding-top: 1em;
}

.form-signup{
    text-align: center;
}

.submitbtn {
    padding-top: 10px;
    clear: none ;
    
}
.button-reg{
    border-radius: 22px;

}

.login {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #F6F6F6;
    width: 491px;
    height: 303px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 23px;
}